/* =====================            ===================== */
#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 9999;
}

.ipub_div_wrap {
    position: relative;
    width: 958px;
    height: 538px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.ipub_div {
    position: relative;
    width: 958px;
    height: 538px;
    border: 1px solid #d3d3d3;
    background-color: #FFFFFF;
    left: 0px;
    transform: translate(0%, 0%);

    font-family: "微软雅黑", "微軟雅黑", "Calibri", "Arial", "sans-serif";

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    /**/
}

.left_scaleplate_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 10px;
    height: 450px;
    padding: 0px;
}

.top_scaleplate_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 864px;
    height: 10px;
    padding: 0px;
}

.layout_canvas,
.element_canvas {
    border: 1px solid black;

}



.right_rect_bar {
    position: absolute;
    top: -9999px;
    left: -9999px;
    /*left: 881px;
	top: 11px;*/
    width: 70px;
    height: 420px;
    border: 1px solid #d3d3d3;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;
}

.edit_tool_bar {
    position: absolute;
    top: -9999px;
    left: -9999px;
    /*left: 123px;
	top: 465px;*/
    width: 600px;
    height: 65px;
    border: 1px solid #d3d3d3;
    background-color: #C0C0C0;
    color: #000000;

    display: flex;
    align-items: center;
}

.edit_tool_bar table tr {
    background-color: #C0C0C0;
}

.right_rect_bar {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 70px;
    height: 420px;
    border: 1px solid #d3d3d3;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;
}

.rect_btn {
    width: 70px;
    height: 21px;
    padding: 0px;
    text-align: center;
    /*border: 1px solid blue;*/
    color: #000000;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-left-color: #6F6F6F;
    border-right-color: #6F6F6F;
    border-top-color: #6F6F6F;
    border-bottom-color: #8E8E8E;
    background-image: linear-gradient(#FEFEFE, #D9D9D9);
    margin-bottom: 8px;
}

.edit_bar_btn {
    width: 60px;
    height: 23px;
    padding: 0px;
    text-align: center;
    /*border: 1px solid blue;*/
    color: #000000;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-left-color: #6F6F6F;
    border-right-color: #6F6F6F;
    border-top-color: #6F6F6F;
    border-bottom-color: #8E8E8E;
    background-image: linear-gradient(#FEFEFE, #D9D9D9);
}

.dlg_background_cover {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 210;
}

.context_menu {
    position: absolute;
    /*display: none;*/
    display: block;
    z-index: 200;
    /*width: 0; 设置为0 隐藏自定义菜单*/
    height: 125px;
    overflow: hidden;
    /*隐藏溢出的元素*/
    box-shadow: 0 1px 1px #888, 1px 0 1px #ccc;

    top: -9999px;
    left: -9999px;
    width: auto;
    height: auto;
    border-radius: 3px;
    list-style-type: none;
    border: 1px solid #8f8f8f;
    box-shadow: 3px 3px 3px #888888;
    padding: 2px;
    background: #fff;
}

.context_menu_item {
    /*
	width: 130px;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	*/

    position: relative;
    padding-left: 24px;
    background: #EAEAD7;
    vertical-align: top;
    overflow: auto;
}

.context_menu_item :hover {
    background-color: #21B4BB;
}

.context_menu_item_text {
    display: block;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    font-family: "微软雅黑", "微軟雅黑", "Calibri", "Arial", "sans-serif";
    color: #333;
    background: #fff;
    padding-left: 5px;
    padding-right: 24px;
    text-align: left;
    text-decoration: none;
}

.context_menu_divider {
    height: 1px;
    margin: 3px 3px 0px 3px;
    background-color: #737373;
    overflow: hidden;
}

.btn_menu {
    position: absolute;
    z-index: 200;
    /*width: 0; 设置为0 隐藏自定义菜单*/
    /*overflow: hidden; 隐藏溢出的元素*/
    /*display: none;*/
    display: block;
    top: -9999px;
    left: -9999px;

    width: 126px;
    border: 1px solid #696969;
    /*CCC*/
    box-shadow: 3px 3px 3px #888888;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
}

.btn_menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.btn_menu ul li {
    background-color: #FFFFFF;
    /*289CFF*/
    color: #fff;
    height: 26px;
    line-height: 26px;
    border-bottom: 1px solid #CCC;
    position: relative;
}

.btn_menu ul li ul {
    display: none;
    position: absolute;
    left: -162px;
    top: 0px;
    width: 160px;
    border: 1px solid #696969;
    /*CCC*/
    box-shadow: 3px 3px 3px #888888;
}

.btn_menu ul li ul li {
    background-color: #FFFFFF;
}

/*21B4BB*/
.btn_menu ul li:hover {
    background-color: #CEDBEF;
}

/*21B4BB*/
.btn_menu ul li:hover ul {
    display: block;
}

.btn_menu a {
    color: #000000;
    text-decoration: none;
}

.btn_menu a:hover {
    color: #000000;
}

.btn_menu_arrow_item {
    background-image: url(menu_arrow.png);
    background-size: 5px 10px;
    background-repeat: no-repeat;
    background-position: 12px;
}

.dlg_div {
    position: absolute;
    /*display: none;*/
    display: block;
    z-index: 500;
    outline: 0px;
    top: 0px;
    left: -9999px;
    height: auto;
    width: auto;
    overflow: hidden;
    background-color: #C0C0C0;
    border: 1px solid #404040;
    color: #eeeeee;
    /*
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	*/
    padding: 0;
    margin: 0;
}

.dlg_title_div {
    position: relative;
    top: 0px;
    left: 0px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    background-image: linear-gradient(#E2E2E2, #B6B6B6, #9B9B9B);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #565656;
    padding: 0;
    padding: 0px 14px 0px 14px;
}

.dlg_title_close {
    vertical-align: middle;
    float: right;
    color: #FFFFFF;
    text-decoration: none;
}

.dlg_bottom_btn_div {
    width: 100%;
    margin: 36px 0px 0px 0px;
}

.dlg_btn_confirm {
    width: 80px;
    padding: 1px 6px;
    text-align: center;

    color: #000000;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-left-color: #6F6F6F;
    border-right-color: #6F6F6F;
    border-top-color: #6F6F6F;
    border-bottom-color: #8E8E8E;
    background-image: linear-gradient(#FEFEFE, #D9D9D9);
}

.dlg_btn_cancel {
    width: 80px;
    padding: 1px 6px;
    float: right;
    text-align: center;

    color: #000000;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-left-color: #6F6F6F;
    border-right-color: #6F6F6F;
    border-top-color: #6F6F6F;
    border-bottom-color: #8E8E8E;
    background-image: linear-gradient(#FEFEFE, #D9D9D9);
}

.dlg_content_div {
    position: relative;
    top: 0px;
    left: 0px;
    width: auto;
    /*390px*/
    height: auto;
    /*340px*/
    border: 0;
    padding: 12px 12px 12px 12px;
    margin: 0;
    background: none;
    overflow: auto;
    zoom: 1;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 12px;
    line-height: 28px;
    text-align: left;
    vertical-align: middle;
}

.dlg_content_div table {
    width: 100%;
}

.dlg_content_div table tr {
    background-color: #FFFFFF;
}

.dlg_content_div table td {
    padding: 1px;
    white-space: nowrap;
}

.dlg_content_div table input {
    padding: 0px 0px 0px 0px;
    margin: 0px 3px 0px 3px;
    vertical-align: middle;
}

.dlg_content_div table select {
    padding: 0px 0px 0px 0px;
    margin: 0px 3px 0px 3px;
    vertical-align: middle;
    box-sizing: content-box;
}

.dlg_content_div table label {
    vertical-align: middle;
}

/*.dlg_content_div p {
     margin: 12px 0px; 
}*/

.color_input {
    width: 12px;
    height: 12px;
    border: 1px solid #8f8f8f;
    /*-webkit-appearance: none;*/
}

.color_input::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color_input::-webkit-color-swatch {
    border: none;
}

.bg h4 {
    font-size: 12px;
    float: left;
    padding-left: 20px;
    color: #ffffff;
    font-family: "微软雅黑";
    text-shadow: 1px 1px #000;
}